{% extends 'layout/base.twig' %}

{% block title %}Edit Article
{% endblock %}

{% block content %}
	<div class="max-w-2xl mx-auto mt-10 bg-white shadow-md rounded-lg p-8">

		<a href="/home" class="text-blue-500 hover:underline">Back to Articles</a>
		<h1 class="text-4xl font-bold">Update Article</h1>

		{% if success %}
			<div class="my-4 text-green-600 text-center">
				{{ success }}
			</div>
		{% endif %}
      
		<form action="/edit/{{ article.id }}" method="POST" class="mt-6">
			<input type="hidden" name="_method" value="PUT">
			<div class="mb-4">
				<label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
				<input type="text" id="title" name="title" value="{{ article.title }}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
			</div>
			<div class="mb-4">
				<label for="date" class="block text-gray-700 text-sm font-bold mb-2">Publishing Date</label>
				<input type="text" id="date" name="date" value="{{ article.date }}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
			</div>
			<div class="mb-4">
				<label for="content" class="block text-gray-700 text-sm font-bold mb-2">Content</label>
				<textarea id="content" name="content" rows="10" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{ article.content }}</textarea>
			</div>
			<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update Article</button>

		</div>
	{% endblock %}
